<!DOCTYPE html>
<html lang="en">
<head>
    <title>BellyFull - Way To Zero Hunger</title>
    <%- include('partials/head') %>
</head>
<body>
    <header>
        <h1>
            <div id="name">
                BellyFull
            </div>
        </h1>
        <nav>
            <a href="/" class="nav_el">Home</a>
            <a href="/mission" class="nav_el">Mission</a>
            <a href="/vision" class="nav_el">Vision</a>
            <a href="/form1" class="nav_el">Get Started</a>
        </nav>
    </header>
    
    <section id="welcome">
        <div id="welcome_el1">
            <h1>Way To Zero Hunger</h1>
            <h5>Raising Awareness and Promoting Food Security</h5>
            <a href="/form1"><button>Make a Difference</button></a>
        </div>
        <div id="welcome_section2">
            <div class="welcome_el2" id="first">
                &nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Join our Cause&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Join our Cause&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Join our Cause&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Join our Cause&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Join our Cause&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Join our Cause&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Join our Cause&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
            </div>
        </div>
        <div id="welcome_el3">
            <img src="/images/hero_img.jpg" alt="Giving food to children" onerror="this.style.display='none'">
        </div>
    </section>
    
    <section id="mission">
        <div id="content">
            <p id="topic">Our Mission</p>
            <p id="main_content">Our mission is to end hunger and reduce food waste by building a platform that connects individuals, restaurants, and organizations with surplus food to those who need it the most. We aim to create a simple and sustainable way for communities to share resources and ensure that no meal goes to waste.</p>
            <a href="/mission"><button>Learn More</button></a>
        </div>
        <div id="photo">
            <img src="/images/mission_img.jpg" alt="Our mission" onerror="this.style.display='none'">
        </div>
    </section>
    
    <hr>
    
    <section id="mission">
        <div id="content">
            <p id="topic">Our Vision</p>
            <p id="main_content">A world where no one goes to bed hungry, where communities share resources and food is never wasted but shared with those who need it most.</p>
            <a href="/vision"><button>Learn More</button></a>
        </div>
        <div id="photo">
            <img src="/images/vision_img.jpg" alt="Our vision" onerror="this.style.display='none'">
        </div>
    </section>
</body>
</html>
            <a href="http://localhost:8080/vision"><button>Learn More</button></a>
        </div>
        <div id="photo"><img src="/vision_img.jpg" alt="Our mission" style="height:25rem;width:25rem;padding:0 4rem;padding-bottom:2.5rem;"></div>
    </section>
    <hr>
    <footer>
        <p>Connect with us:</p><br>
        <p>Instagram : @BellyFull</p>
        <p>Email : bellyfull@gmail.com</p>
        <div id="closing">
            Made with love by team X-CELL
        </div>
    </footer>
</body>
</html>